.tab-content {
    padding: 0 !important;
}

.product__container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.product__container .left {
    border-right: 1px solid lightgray;
    padding: 15px;
    /* background-color: #f2efee; */
}

.product__container .right {
    padding: 10px;
    width: -webkit-fill-available;
    /* background-color: #f0f8ff; */
}

.product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__header2__container {
    display: flex;
    gap: 20px;
}

.product__header h3,
.product__parent__title {
    font-size: 1rem;
}

.accordian__main {
    background-color: white;
    /* border: 1px solid lightgray; */
}

.card-header .btn {
    /* border: 1px solid #49c5b6; */
    background-color: #f1f1f1;
    color: #49c5b6 !important;
    /* border-radius: 10px; */
    font-weight: bold;
}

.accordian__main hr {
    margin-top: -10px;
}

.accordian__main .card {
    /* box-shadow: 5px 10px 8px lightgrey !important; */
    box-shadow: 0 0 10px lightgray !important;
    padding: 2px;
}

.card-body {
    padding: 2px !important;
}

.product__parent .product__info {
    align-items: center;
    width: -webkit-fill-available;
}

.product__parent__card {
    background-color: #f1f1f1 !important;
}

.product__parent .qty {
    border-bottom: 1px solid lightblue;
}

.product__info small {
    width: inherit;
}

.product__parent .price__info {
    background-color: #b3cee5;
    padding: 2px;
}

@media screen and (max-width: 850px) {
    .product__header {
        width: 100%;
        display: block;
    }

    .product__header2__container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0;
    }

    .product__header2 {
        display: flex;
        gap: 20px;
        /* margin-top: 15px; */
    }
}

@media screen and (max-width: 785px) {
    .product__container {
        flex-direction: column;
    }

    .product__parent__title {
        text-align: center;
        margin-bottom: 10px;
        font-weight: 700;
    }
}

@media (min-width: 701px) and (max-width: 991px) {
    .product__container .left {
        min-width: 60%;
    }
}

@media screen and (min-width: 992px) {
    .product__container .left {
        min-width: 65%;
    }
}