.button-link {
    background-color: transparent;
    border: none;
}
img.img-responsive.logo.website-logo{
    width: 125px;
    vertical-align: top;
    margin-top: 2px;
}
.dropdown-menu-right a:first-child {
    margin-bottom: -10px;
    margin-top: -10px;
}.dropdown-menu-right a:last-child {
    margin-top: -7px;
}
.dropdown-menu-right {
    height: 90px;
}
.sidebar-nav .metismenu > li.active > a {
    background-color: #49c5b6 !important;
  }
  .sidebar-nav .metismenu > li.active > a > span > .dashboard {
    background-color: #49c5b6 !important;
  }
  .theme-cyan .sidebar-nav .metismenu > li i {
    color: #007566 !important;
  }
  .sidebar-nav .metismenu a:hover, .sidebar-nav .metismenu a:focus, .sidebar-nav .metismenu a:active {
    background: #49c5b6 !important;
}
.sidebar-nav .metismenu ul a {
    color: #000 !important;
}
.sidebar-nav .metismenu .has-arrow::after {
    color: #000 !important;
  }