.button-link {
    background-color: transparent;
    border: none;
}
img.img-responsive.logo.website-logo{
    width: 125px;
    vertical-align: top;
    margin-top: 2px;
}
.dropdown-menu-right a:first-child {
    margin-bottom: -10px;
    margin-top: -10px;
}.dropdown-menu-right a:last-child {
    margin-top: -7px;
}
.dropdown-menu-right {
    height: 90px;
}