.table-class table {
    border-collapse: collapse;
    width: auto;
    margin: 20px 0;
    border: 1px solid #ccc;
  }
  .table-class table td:nth-child(1) {
    width: 17%;
  }
  .table-class table td:nth-child(2) {
    width: 16%;
  }
  
  .table-class table td:nth-child(3) {
    width: 17%;
  }
  
  .table-class table td:nth-child(4) {
    width: 25%;
  }
  
  
  td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    width: 41%;
  }
  
  th {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 10px;
  }

.table.product-table.table{
  border-collapse: collapse;
  margin: 20px 60px;
  border: 1px solid #ccc;
}
.table.product-table.table td:nth-child(1) {
  width: 8%;
}
.table.product-table.table td:nth-child(2) {
  width: 8%;
}

.table.product-table.table td:nth-child(3) {
  width: 17%;
}

.table.product-table.table td:nth-child(4) {
  width: 20%;
}

.tab-component {
  width: 100%;
}

.checkbox-size {
  display: flex;
  align-items: center;
}

.checkbox-size input[type="checkbox"] {
  margin-right: 9px; 
}

.price-calc-card.card-body{
  padding: 10px !important;
}

.price-calc-card-div {
  border: 1px solid #cbcbcb;
  padding: 5px;
}

.price__input__height {
  height: 33px !important; 
}

.temp .css-13cymwt-control {
  min-height: 30px !important;
  height: 33px;
}

.temp .css-1dimb5e-singleValue {
  font-size: 14px;
  color: #495057;
  font-weight: 400;
  margin-top: -10px;
}

.temp span.css-1u9des2-indicatorSeparator {
  margin-top: 0;
}

.temp .css-t3ipsp-control {
  height: 33px;
  min-height: 33px !important;
}

.temp svg {
  margin-top: -10px;
}

.custom-export-card.card-body {
  margin-top: -13px;
  margin-bottom: -13px;
  padding: 0px 5px !important;
}

span.text-danger.valiadtion {
  font-weight: 500;
  font-size: 13px;
}

.custom-border-table {
  border-bottom: 1px solid lightgray;
}

.no-data {
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

@media screen and (max-width: 360px) {
  .btn-lg {
    padding: 5px !important;
  }
}