.pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pagination-wrapper select {
    width: auto;
  }
  
  ul.pagination {
    margin-bottom: 0px;
    margin-right: 10px;
  }
  
  .data-table {
    position: relative;
  }
  
  .data-table .loader-wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #00000042;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
    z-index: 10;
  }
  .data-table table {
    width: 100%;
  }