/* manage market place */
.market-onboarding{
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
}
.custom-button-style{
    background-color: #4caf50;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}
